<h1 style="color: brown;">Interpolation</h1>

<h3>{{title}} this is my title</h3>

<h4>my obj {{obj}} </h4>

<h4>my num value {{num}}</h4>

<p>{{arr}}</p>

<p>{{isValid}}</p>

<h1 style="color: brown;">Property Binding</h1>

<input type="text" value= "{{val1}}" [disabled] = wantTodesabled>

<h1>Event Binding</h1>

<button (click)="clickMe()" >Click me</button>

<div (mouseover)="mouseOver()">
  <p>This is Paragraph</p>
</div>

<h1 style="color: rgb(255, 187, 0);">Two way data Binding></data>

<input type="text" [(ngModel)]="myVal">

<p>{{myVal}}</p>